@font-face {
    font-family: "Road Rage";
    src: url(../fonts/RoadRage.woff);
}

@font-face {
    font-family: "Heart";
    src: url(../fonts/BringHeart.woff);
}

@font-face {
    font-family: "Ancient-Medium";
    src: url(../fonts/Ancient-Medium.woff);
}

@font-face {
    font-family: "Madeline";
    src: url(../fonts/MadelinaScript.woff);
}

.Road{
    font-size: 3em;
    font-family: "Road Rage";
}

.Heart{
    font-size: 3em;
    font-family: "Heart"
}

.Ancient{
    font-size: 3em;
    font-family: "Ancient-Medium";
}

.Madeline{
    font-size: 3em;
    font-family: "Madeline";
}

#link a{
    font-size: 1em;
    display: line;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #111;
    background: #ccc;
}

#link a:hover{
    color: #69001d;
    background-color: aqua;
}
