#conteudo{
    background: #dcdcdc;
    height: 600px;
    display: flex;
}

.item{
    /* width: 200px; */
    height: 100px;
    margin: 10px;
    background: white;
    border: 1px solid gray;

     /* Define proporç~eo de espaço ocupado por um item */
    flex-grow: 0;

    /* Define a capacidade de redução de tamanho do item */
    flex-shrink: 1;

    /* Indica o tamanho inicial do flex item antes da distribuição do espaço restante */
    flex-basis: 200px;
}

.item1{
    /* flex-shrink: 1; */
}

.item2{
    flex-grow: 5;
  /* flex-shrink: 2; */
}

.item3{
   /* flex-shrink: 5; */
}



